// Début propriétés générales
*
    margin: 0
    padding: 0
    text-decoration: none
    list-style-type: none

body
    color: grey
    font-family: 'Lato', sans-serif
h1
    @include grostitre
h2
    @include sous-titre
h3
    @include sous-titre-h3
// Fin propriétés générales

header
    color: grey
    background-image: url('../images/banner.jpg')
    background-size: 100%
    background-repeat: no-repeat
    background-color: #23202495
    background-blend-mode: darken
    height: 80vh
    nav
        display: grid
        grid-template-columns: repeat(2,1fr)
        padding: 6vh 4vh
        color: white
        p
            font-size: 1rem
            span
                font-weight: 800
        ul
            display: flex
            justify-content: end
            a
                color: white
                padding-left: 3vw
    .floatdiv
        text-align: center
        position: absolute
        top: 27%
        right: 25%
        left: 25% 
        //bien centrer au milieu de l'image
        h3
            margin: 4vh 0
            text-transform: uppercase
            line-height: 1.5rem
        button
            @include btn-p

main
    .apropos
        height: 30vh
        display: grid
        grid-template-columns: repeat(2,1fr)
        justify-content: center
        padding: 10vh 45vh 15vh 45vh
        h2
            margin: 5px auto
        h3
            margin: 5px auto
        p
            &:last-child
                margin: 15px auto
    .section-cards
        background-color: #F6F6F6
        text-align: center
        padding: 8vh 0
        h3
            margin-top: 10px
            margin-bottom: 8vh

