*
    margin: 0
    padding: 0
    text-decoration: none
    list-style-type: none

body
    color: grey
    font-family: 'Lato', sans-serif
header
    color: grey
    background-image: url('../images/banner.jpg')
    background-size: 100%
    background-repeat: no-repeat
    height: 85vh
    nav
        display: grid
        grid-template-columns: repeat(2,1fr)
        padding: 6vh 4vh
        color: white
        p
            font-size: 1rem
            span
                font-weight: 800
        ul
            display: flex
            justify-content: end
            a
                color: white
                padding-left: 3vw
