@mixin grostitre
    font-size: 3rem
    color: white

@mixin sous-titre
    font-size: 2rem
    color: #484848

@mixin sous-titre-h3
    font-size: 1rem
    color:#AAAAAA
    font-weight: normal 

@mixin btn-p
    background-color: #F32853
    color: white
    font-weight: bold
    display: inline
    border: none
    border-radius: 5%
    padding: 20px 40px

@mixin maps-img
    border-radius: 50%
    border: 5px solid #AAAAAA